@import "tailwindcss";

@theme {
  --font-primary: 'Indie Flower', cursive;
  --font-secondary: 'Short Stack', cursive;

  --color-pencil: #444444;
  --color-primary: #000000;
}

@keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}

.animate-bg-scroll {
  background: url("/bg-logo.png") repeat 0 0;
  background-size: 50px 50px;
  animation: bg-scrolling-reverse 5s infinite linear;
}
